.dropZoneWrapper,
.dropZoneWrapper > div {
  width: 100%;
  display: flex;
}

.dropZoneWrapper {
  border: 1px dashed #fff;
}

.dropZoneWrapper > div {
  flex-direction: column;
  text-align: center;
}

.dropZoneActive {
  background: hsl(210, 100%, 93%);
  border-color: HSL(210, 100%, 73%);
}